body {
    display: flex;
    justify-content:space-around;
}

.country-container {
    background-color: blue;
}

h1 {
    margin-top: 5vh;
    background-color:aliceblue;
    display: flex;
    justify-content: center;
}

.searchForm {
    text-align: center;
    background-color: aliceblue;
}

.sectionBoth {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.visitedCountries {
    background-color: aqua;

}

.countries {
    background-color: pink;

}

li {
    list-style-type: none;
}

